.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ToDo {
  display: flex;
  margin: 20px;
  width: 400px;
  justify-content: space-between;
}

.ToDo__btn {
  all: unset;
  padding: 1em;
  border-radius: 0.8em;
  width: 80px;
}

.pending {
  background-color: orange;
}

.done {
  background-color: teal;
}

.delete {
  background-color: orangered;
  width: 20px;
}
